@import "../../shared/styles/variables";

:host {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: $t-padding;
  border-radius: $border-radius;

  canvas {
    display: block;
    font-family: inherit;
  }

  &.small {
    canvas {
      width: 100px;
      height: 100px;
    }
  }

  &.medium {
    canvas {
      width: 150px;
      height: 150px;
    }
  }

  &.large {
    canvas {
      width: 200px;
      height: 200px;
    }
  }

  &.dark {
    background-color: $dark-primary-color;
  }
}
