<div class="t-grid" [ngClass]="[theme, size]">
  <table>
    <caption class="screen-readers-only">
      {{ gridCaption$ | async }}
    </caption>
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          (click)="onHeaderClick(column)"
          [class.sortable]="sortable && column.sortable"
          [ngClass]="{
            sorted:
              sortable && column.sortable && sortColumn() === column.property,
            'sorted-asc':
              sortable &&
              column.sortable &&
              sortColumn() === column.property &&
              sortDirection() === 'asc',
            'sorted-desc':
              sortable &&
              column.sortable &&
              sortColumn() === column.property &&
              sortDirection() === 'desc',
          }"
          scope="col"
          tabindex="0"
          role="button"
          (keydown.enter)="onHeaderClick(column)"
          (keydown.space)="onHeaderClick(column)"
        >
          {{ column.name }}
          <span
            *ngIf="sortable && sortColumn() === column.property"
            aria-hidden="true"
          >
            {{ sortDirection() === "asc" ? "↑" : "↓" }}
          </span>
          <span class="screen-readers-only">
            {{
              sortDirection() === "asc"
                ? "sorted ascending"
                : "sorted descending"
            }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of processedData$ | async">
        <td
          *ngFor="let column of columns"
          [attr.data-label]="column.name"
          tabindex="0"
        >
          {{ item[column.property] }}
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Pagination">
    <div class="pagination-controls">
      <div class="page-size-selector">
        <t-select
          id="pageSizeSelect"
          [options]="pageSizeOptions"
          [value]="pageSizeSignal()"
          (change)="onPageSizeChange($event)"
          [theme]="theme"
          [size]="size"
        ></t-select>
      </div>

      <div class="pagination-buttons">
        <t-button
          [theme]="theme"
          [size]="size"
          (click)="goToPage(currentPage() - 1)"
          [disabled]="currentPage() === 1"
          [ariaLabel]="previousButtonAriaLabel$ | async"
        >
          {{ previousButtonText$ | async }}
        </t-button>
        <span aria-live="polite">
          {{ pageText$ | async }} {{ currentPage() }} {{ pageOfText$ | async }}
          {{ totalPages() }}
        </span>
        <t-button
          [theme]="theme"
          [size]="size"
          (click)="goToPage(currentPage() + 1)"
          [disabled]="currentPage() === totalPages()"
          [ariaLabel]="nextButtonAriaLabel$ | async"
        >
          {{ nextButtonText$ | async }}
        </t-button>
      </div>
    </div>
  </nav>
</div>
