@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.t-grid {
  width: 100%;
  border-radius: $border-radius;
  &.light {
    @include grid-theme(
      $light-primary-color,
      $light-secondary-color,
      $light-text-color,
      $light-border-color
    );
    table {
      th {
        &.sortable:hover {
          background-color: lighten($dark-primary-color, 5%);
          color: $light-primary-color;
        }
      }
      tbody tr {
        &:hover {
          background-color: lighten($dark-primary-color, 5%);
          color: $light-primary-color;
        }
      }
    }
  }

  &.dark {
    @include grid-theme(
      $dark-primary-color,
      $dark-secondary-color,
      $dark-text-color,
      $dark-border-color
    );
    table {
      th {
        &.sortable:hover {
          background-color: $light-secondary-color;
          color: $dark-primary-color;
        }
      }
      tbody tr {
        &:hover {
          background-color: $light-secondary-color;
          color: $dark-primary-color;
        }
      }
    }
  }

  &.small {
    table {
      font-size: 0.8em;
    }
  }

  &.medium {
    table {
      font-size: 1em;
    }
  }

  &.large {
    table {
      font-size: 1.2em;
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: $border-radius;
    border: 1px solid;

    overflow: hidden;
    th,
    td {
      padding: 0.75em;
      text-align: left;
      border-bottom: 1px solid;
      &:hover {
        cursor: pointer;
      }
    }

    th {
      cursor: pointer;
      user-select: none;
      position: relative;
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $t-margin 0;
    padding: 0 $t-padding $t-padding $t-padding;

    .page-size-selector {
      label {
        margin-right: 0.5em;
        color: inherit;
      }
    }

    .pagination-buttons {
      display: flex;
      align-items: center;

      t-button {
        margin: 0 0.25em;
      }

      span {
        margin: 0 0.5em;
        color: inherit;
      }
    }
  }
}

.screen-readers-only {
  @include screen-readers-only();
}

th[role="button"]:focus,
t-button:focus,
t-select:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

@media (max-width: 600px) {
  .t-grid table {
    display: block;
    overflow-x: auto;
  }

  .pagination-controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination-buttons {
    margin-top: 0.5rem;
  }
}
