<div class="t-grid" [ngClass]="[theme, size]">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          (click)="onHeaderClick(column)"
          [class.sortable]="sortable && column.sortable"
          [ngClass]="{
            sorted:
              sortable && column.sortable && sortColumn() === column.property,
          }"
        >
          {{ column.name }}
          <span *ngIf="sortable && sortColumn() === column.property">
            {{ sortDirection() === "asc" ? "↑" : "↓" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of processedData$ | async">
        <td *ngFor="let column of columns">
          {{ item[column.property] }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <div class="page-size-selector">
      <label>{{ pageSizeText$ | async }}</label>
      <t-select
        [options]="pageSizeOptions"
        [value]="pageSizeSignal()"
        (change)="onPageSizeChange($event)"
        [theme]="theme"
        [size]="size"
      ></t-select>
    </div>
    <div class="pagination-buttons">
      <t-button
        [theme]="theme"
        [size]="size"
        (click)="goToPage(currentPage() - 1)"
        [disabled]="currentPage() === 1"
      >
        {{ previousButtonText$ | async }}
      </t-button>
      <span
        >{{ pageText$ | async }} {{ currentPage() }} {{ pageOfText$ | async }}
        {{ totalPages() }}</span
      >

      <t-button
        [theme]="theme"
        [size]="size"
        (click)="goToPage(currentPage() + 1)"
        [disabled]="currentPage() === totalPages()"
      >
        {{ nextButtonText$ | async }}
      </t-button>
    </div>
  </div>
</div>
