@import "../../shared/styles/variables";

.image-container {
  display: flex;
  width: 100%;
}

.image-container {
  display: flex;
  max-width: 90%;
  img {
    width: 10%;
    height: auto;
    align-items: center;
  }
}

.component-container {
  margin: $t-margin;
  padding: $t-padding;
}

.component-container {
  h2 {
    width: 100%;
  }
}

.content {
  margin-top: 80px;
  padding: 20px;
  height: 2000px;
}
