$t-margin: 1em;
$t-margin-small: 0.5em;
$t-padding: 1em;

$dark-primary-color: #1d2951;
$dark-secondary-color: #0b3d91;
$dark-tertiary-color: #6a5acd;
$dark-accent-color-1: #ff6f61;
$dark-accent-color-2: #f4a460;
$dark-text-color: #fff8dc;
$dark-border-color: #4b4e6d;

$light-primary-color: #ffffff;
$light-secondary-color: #fff8dc;
$light-tertiary-color: #f0e68c;
$light-accent-color-1: #ff7f50;
$light-accent-color-2: #20b2aa;
$light-text-color: #1d2951;
$light-border-color: #a2aebb;


$light-background: $light-secondary-color;
$dark-background: $dark-primary-color;

$void-black: #000000;
$comet-white: #ffffff;

$light-progress-bg-color: rgba(0, 0, 0, 0.1);
$dark-progress-bg-color: rgba(255, 255, 255, 0.2);
$progress-bg-color: rgba(0, 0, 0, 0.1);

$border-radius: 5px;
$text-color: #ffffff;

$light-progress-bg-color: rgba(0, 0, 0, 0.1);
$dark-progress-bg-color: rgba(255, 255, 255, 0.2);
