

// Dark Theme
$dark-primary-color: #1D2951;
$dark-secondary-color: #0B3D91;
$dark-text-color: #FFF8DC;
$dark-border-color: #4B4E6D;

// Light Theme
$light-primary-color: #FFFFFF;
$light-secondary-color: #FFF8DC;
$light-text-color: #1D2951;
$light-border-color: #A2AEBB; 

$void-black: #000000;
$comet-white: #FFFFFF;

$light-progress-bg-color: rgba(0, 0, 0, 0.1);
$dark-progress-bg-color: rgba(255, 255, 255, 0.2);
$progress-bg-color: rgba(0, 0, 0, 0.1);

$border-radius: 5px;
$text-color: #ffffff;

$light-progress-bg-color: rgba(0, 0, 0, 0.1);
$dark-progress-bg-color: rgba(255, 255, 255, 0.2);