@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.t-button {
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;

  &.small {
    font-size: 0.8em;
    padding: 0.25em 0.5em;
  }

  &.medium {
    font-size: 1em;
    padding: 0.5em 1em;
  }

  &.large {
    font-size: 1.2em;
    padding: 0.75em 1.5em;
  }

  /* Themes */
  &.light {
    @include button-theme($light-primary-color, $light-secondary-color, $light-text-color, $light-border-color);
  }

  &.dark {
    @include button-theme($dark-primary-color, $dark-secondary-color, $dark-text-color, $dark-border-color);
  }
}

