@import './shared/styles/variables';

.light {
    background-color: $light-primary-color;
    color: $light-text-color;
  }
  
.dark {
    background-color: $dark-primary-color;
    color: $dark-text-color;
}